.container {
    padding: 16px;
}

.search-form {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.book-card-wrapper {
    display: flex;
    // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    flex-wrap: wrap;

    .mat-fav-icon {
        color: red;
    }
}

.book-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 0 0 20%;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 10px;
    box-sizing: border-box;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
}

.current-page {
    margin: 0 8px;
}